/*
1-common style
2- general style
3- sections style
    3.0 header section
    3.1 home section
    3.2 about section
    3.3 portfolio section
    3.4 service section
    3.5 price section
    3.6 team section
    3.7 blog page
    3.8 contact section
    3.9 footer section
*/


/*
1-common style
*/

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7)
}

.hover-opacity:hover {
    opacity: 0.8;
}

.ltr-effect {
    position: relative;
}

.ltr-effect:after {
    position: absolute;
    content: "";
    width: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: width 0.5s;
}

.ltr-effect:hover:after {
    width: 100%;
}


/* 2- general style */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 80%;
    margin: auto;
}

body {
    font-family: 'Varela Round', sans-serif;
}

.clear {
    clear: both;
    /*to solve float problem*/
}

h1,
h2,
h3,
h4 {
    font-family: montserrat, sans-serif;
}

.box {
    /* overflow: hidden; /*to solve float problem*/
}

button {
    font-family: inherit;
}

.pd-y {
    padding: 120px 0;
}

.section-header {
    text-align: center;
    margin-bottom: 20px;
}

.section-title {
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.line {
    display: block;
    height: 5px;
    width: 60px;
    margin: 0 auto 70px auto;
    background-color: dodgerblue;
}


/* 3- sections style */


/* 3.0 header section */

.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.logo {
    width: 40%;
    float: left;
}

.nav {
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;
}

.header .nav>li {
    display: inline-block;
}

.header .nav>li>a {
    color: white;
    text-decoration: none;
    padding: 20px 15px;
    background: black;
    display: block;
}

.header .nav>li>a.active:after,
.header .nav li>a:after {
    content: "";
    display: block;
    height: 3px;
    background-color: dodgerblue;
    transition: width 0.5s;
    margin-top: 2px;
}

.header .nav>li>a.active:after {
    width: 100%;
}

.header .nav>li>a:after {
    width: 0;
}

.header .nav>li>a:hover:after {
    width: 100%
}

.dropdown {
    position: relative
}

.dropdown-menu {
    position: absolute;
    background: dodgerblue;
    width: 150px;
    text-align: center;
    left: -50%;
    top: 70%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s;
}

.dropdown-menu a {
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}


/* 3.1 home section*/

.home {
    height: 100vh;
    background-image: url(../img/Picture3.png);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.home-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 65%
}

.title {
    color: white;
    font-size: 35px;
}

.home-discription {
    margin: 10px 0;
    color: white;
    letter-spacing: 2px;
    line-height: 1.5;
    font-size: 100px;
}

.btn {
    min-width: 150px;
    padding: 10px 0;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    font-size: 18px;
}

.btn-start {
    margin-right: 10px;
    background-color: white;
}

.btn-learn {
    color: white;
    background-color: dodgerblue;
}


/* 3.2 about section*/

.about {}

.about-content {}

.about-item {
    width: 30%;
    float: left;
    border: 1px solid gray;
    padding: 50px 20px;
    text-align: center;
}

.about-item:hover {
    color: white;
    transition: color 0.3s;
}

.about-item.mg {
    margin: 0 5%;
}

.icon {
    color: dodgerblue;
    margin-bottom: 10px;
}

.about-item-title {
    text-transform: capitalize;
    margin-bottom: 30px;
}

.about-item-disc {
    line-height: 1.6;
    margin-bottom: 10px;
}

.about-item-link {
    color: dodgerblue;
    text-transform: capitalize;
    text-decoration: none;
}


/*3.3 portfolio section*/

.portfolio {
    background: #f9f9f9;
}

.portfolio-item {
    width: 30%;
    float: left;
    margin-bottom: 25px;
    position: relative;
    padding: 20px;
}

.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s;
}

.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;
}

.layer-content .cat {
    color: dodgerblue;
    text-transform: capitalize;
    display: block;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.5s;
}

.layer-content .content-item {
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 10px;
    position: relative;
    top: 10px;
    transition: top 0.6s;
}

.layer-content a i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: dodgerblue;
    color: white;
    position: relative;
    top: 10px;
    transition: top 0.7s;
}

.portfolio-item:hover .layer-content .content-item,
.portfolio-item:hover .layer-content .cat,
.portfolio-item:hover .layer-content a i {
    top: 0px;
}

.layer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.portfolio-item.mg {
    margin: 0 5%;
}

.portfolio-item img {
    width: 100%;
}


/*3.4 offer section*/

.offer {}

.offer-content {
    overflow: hidden;
}

.offer-item {
    width: 30%;
    float: left;
    margin-bottom: 20px;
    border: 1px solid #e8e8e8;
    padding: 20px 15px 30px 70px;
    position: relative;
}

.offer-item.mg {
    margin: 0 5%;
}

.offer-item .icon {
    position: absolute;
    left: 15px;
    top: 30px;
}

.offer-item-title {
    text-transform: capitalize;
    margin-bottom: 15px;
    transition: color 0.5s;
}

.offer-item-disc {
    text-transform: capitalize;
    margin-bottom: 15px;
    line-height: 1.6;
    transition: color 0.5s;
}

.offer-item:hover .offer-item-title,
.offer-item:hover .offer-item-disc {
    color: white;
}

@media(max-width:768px) {
    .header .container .box .logo,
    .header .container .box .nav,
    .header .container .box .nav li,
    #newsletter form,
    #boxes .box {
        float: none;
        text-align: center;
        width: 50%;
    }
}


/*3.5 price section*/


/*3.6 team section*/


/*3.7 blog page*/


/*3.8 contact section*/


/*3.9 footer section*/